// Here you can add other styles
.btn-back {
  background-color: rgb(228, 229, 230);
  border-color: rgb(228, 229, 230);
}

.app-body {
  overflow-x: initial;
}

.w-150 {
  min-width: 150px !important;
}

.w-200 {
  min-width: 200px !important;
}

.w-300 {
  min-width: 300px !important;
}
